p 
{ 
 font-size:larger; color:Maroon; font-family:Arial; 
} 
*.p_1{font-size:medium; font-weight:bold; color:#9999CC; font-family:Verdana;} 
*.p_2{color:#333366; font-size: small; font-family:Verdana;}
*#first{color:Red;} 
table{table-layout:auto; width:auto; border-collapse:separate;} 
td{border:1px solid green;padding:1em;} 
#r2c1, #r2c2 { border-style:double; border-width:medium;} 
#r3c1, #r3c2 {border-style:dotted; vertical-align:bottom; height:5em;} 